<% if user_signed_in? %>
    <h1><%= t('views.common.title_top', name: User.model_name.human) %></h1>
    <p><strong><%= "「#{current_user.name}」でログイン中です!" %></strong></p>
    <table>
        <thead>
            <tr>
                <th><%= User.human_attribute_name(:name) %></th>
                <th><%= t('email') %></th>
                <th><%= User.human_attribute_name(:zipcode) %></th>
                <th><%= User.human_attribute_name(:address) %></th>
                <th><%= User.human_attribute_name(:profile) %></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do | user | %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.zipcode %></td>
                    <td><%= user.address %></td>
                    <td><%= user.profile %></td>
                    <td><%= link_to t('views.common.show'), user_path(user) %></td>
                    <% if user == current_user %>
                        <td><%= link_to t('views.common.edit'), edit_user_registration_path(current_user) %></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @users %>
<% end %>
